/JavaNew/nbproject/private/
/JavaNew/dist/
/JavaNew/build/
/JavaFXApplication3/nbproject/private/
/JavaFXApplication3/dist/
/JavaFXApplication3/build/
/Assignment6_2/nbproject/private/
/Assignment6_2/build/
/Assignment6/nbproject/private/
/Assignment6_3/nbproject/private/
/Assignment6_1/nbproject/private/
/Assignment6_1/build/
/Assignment6_1/dist/
/nbproject/private/
/build/
/dist/