/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 28, 2016, 12:39:03 AM
    Author     : darshanmohan
*/

.anchorpane {
    -fx-background-color: whitesmoke;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: black;
    -fx-opacity: 0.8;
}

.tab {
    -fx-background-insets: 0 1 0 1,0,0;
    -fx-background-color: whitesmoke;
    -fx-opacity: 0.8;

}

.tab .tab-label { 
    -fx-text-fill: dimgray;
    -fx-font-size: 15px;
}

.tab-pane
{
    -fx-background-color: whitesmoke;
    -fx-tab-min-width:450px;
    -fx-tab-min-height: 30px;
}

.tab:selected .tab-label {
    -fx-text-fill: #008cff;
    -fx-tab-min-height: 15px;
    
}
